<div class="order">
  <a href="#">
    {{title}}
  </a>
</div>

<main id="wrapper">
  <div class="grid2" style="min-height: 400px">
    <div class="fill-available" id="contact">
      {{#if cart}}
      <form action="/cart/buy" method="post" id="buy">
        <fieldset>
          <input placeholder="Your name" name="name" type="text" tabindex="1" required />
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required />
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number" name="phone" type="tel" tabindex="3" required />
        </fieldset>
        <fieldset>
          <textarea placeholder="Special Instructions...." name="message" tabindex="5" required></textarea>
        </fieldset>
        <div class="centred">
          <table class="table table-bordered table-striped" style="text-align: center; border:1px solid #ccc">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Sub Total</th>
            </tr>
            {{#each cart}}
            <tr>
              <td>{{this.name}}</td>
              <td>${{this.price}}</td>
              <td>{{this.qty}}</td>
              <td>${{this.subtot}}</td>
            </tr>
            {{/each}}
            <tfoot>
              <tr>
                <td colspan="3">Grand Total</td>
                <td>${{this.grandTotal}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <br>
        <button class="btn btn-outline-pink" type="submit">Pay and Proceed</button>
      </form>
      {{else}}

      <p>There are no items to checkout</p>
      <button class="btn btn-outline-pink" onclick="goTo('/products')">Continue Shopping</button>

      {{/if}}
    </div>
  </div>
  </div>
</main>