<div class="carousel">
  <img class="slider-img" src="img/banner.png" alt="images" />
</div>

<div class="order">
  <a href="order.html">
    Make an order now!
  </a>
</div>

<main id="wrapper">
  <section class="grid3">
    {{#each products}}
    <div>
      <h2>{{this.name}}</h2>
      <img src="img/{{this.image}}" alt="cake" />
      <br />
      <blockquote>${{this.price}}</blockquote>
      <p>
        {{this.desc}}
      </p>
      <form method="POST" action="/cart/addtocart">
        <input type="hidden" name="product_id" value="{{this._id}}">
        <button class="btn btn-outline-pink" data-id="{{this._id}}">Order Now</button>
      </form>
    </div>
    {{/each}}
  </section>
</main>