<div class="order">
  <a href="#">
    {{title}}
  </a>
</div>
<main id="wrapper">
  <section>
    <div class="grid3">
      {{#each products}}
      <div>
        <h2>{{this.name}}</h2>
        <img src="img/{{this.image}}" alt="cake" />
        <br />
        <blockquote>${{this.price}}</blockquote>
        <p>
          {{this.desc}}
        </p>
        <button class="btn btn-outline-pink" data-id="{{this._id}}">Order Now</button>
      </div>
      {{/each}}
    </div>
    <div class="load-more">
      <button class="btn btn-outline-pink-inverse">Load More...</button>
    </div>
  </section>
</main>